/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

body,
input,
textarea,
select {
  font-size: 11pt;
}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

#banner {
  padding: 9em 0em 5em 0em;
}

#banner header h2 {
  font-size: 4em;
}

#banner header .byline {
  padding-top: 1em;
  font-size: 1.8em;
  font-weight: 500;
}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

#main {
  padding: 1em 0em 7em 0em;
}

.sidebar header h2 {
  font-size: 1.8em;
}

/*********************************************************************************/
/* Extra                                                                         */
/*********************************************************************************/

#extra {
  padding: 1em 0em 7em 0em;
}

/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/

#featured {
  padding: 6em 0em;
}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

#footer {
  padding: 1em 0em 7em 0em;
}

/*********************************************************************************/
/* about                                                                          */
/*********************************************************************************/

#about {
  padding: 1em 0em 7em 0em;
}
