/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

body,
input,
textarea,
select {
  line-height: 1.75em;
  font-size: 10.5pt;
  letter-spacing: 0;
}

h2,
h3,
h4,
h5,
h6 {
  font-size: 1.5em;
}

section,
article {
  clear: both;
  margin: 2em 0 2em 0 !important;
}

section > :first-child,
article > :first-child {
  margin-top: 0 !important;
}

section:first-child,
article:first-child {
  margin-top: 0 !important;
}

header h2 {
  font-size: 1.8em;
}

header .byline {
  font-size: 1.2em;
}

.container {
  padding: 0em 1em;
}

.button {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1em;
}

.medium {
  font-size: 1em;
}

.news-head h2:before {
  top: 2.5em;
}

.button {
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #222;
  color: #333;
}
/*********************************************************************************/
/* UI                                                                            */
/*********************************************************************************/

#titleBar {
  background: #222;
}

#titleBar .title {
  display: block;
  color: #fff;
  text-align: center;
  line-height: 44px;
}
#titleBar .title img {
  height: 44px;
}

#titleBar .toggle {
  position: absolute;
  left: 0;
  top: 0;
  width: 80px;
  height: 60px;
}

#titleBar .toggle:after {
  content: "";
  display: block;
  width: 20px;
  height: 12px;
  position: absolute;
  left: 10px;
  top: 15px;
  background: url("/img/assets/menu.svg") 0px 0px no-repeat;
  opacity: 0.5;
}

#titleBar .toggle:active:after {
  opacity: 0.75;
}

#navPanel {
  background: #111111 url(images/main-wrapper-bg.jpg) repeat;
}

#navPanel .link {
  display: block;
  color: #888;
  text-decoration: none;
  height: 44px;
  line-height: 44px;
  border-top: solid 1px;
  border-color: rgba(255, 255, 255, 0.05);
  padding: 0 1em 0 1em;
}

#navPanel .link:first-child {
  border-top: 0;
}

#navPanel .link.depth-0 {
  color: #fff;
}

#navPanel .indent-1 {
  display: inline-block;
  width: 1em;
}
#navPanel .indent-2 {
  display: inline-block;
  width: 2em;
}
#navPanel .indent-3 {
  display: inline-block;
  width: 3em;
}
#navPanel .indent-4 {
  display: inline-block;
  width: 4em;
}
#navPanel .indent-5 {
  display: inline-block;
  width: 5em;
}
#navPanel .depth-0 {
  color: #fff;
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#header {
  height: 60px;
}

#header .container {
  padding: 0;
}

#logo {
  position: absolute;
  top:0;
  left: 10px;
  z-index: 100;
}
#logo a img {
  height: 70px;
}
#nav {
  display: none;
}

#header .hamburger{
  position: absolute;
  top : 15px;
  right: 15px;
  width: 32px;
  padding: 8px;
  z-index: 100;
}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

#banner {
  background-color: initial;
  padding: 4em 0em 3em 0em;
}

#banner header {
  height: 7em;
}

#banner header h2 {
  display: none;
}

#banner header .byline {
  /*padding-top: 1em;
		font-size: 1.2em;
		font-weight: 500;*/
  display: none;
}

#banner .fa:before {
  font-size: 3em;
}

#banner .button {
  display: inline;
}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

#main {
  padding: 1em 0em 4em 0em;
}

#main .left {
  text-align: center;
}

#main .right {
  text-align: center;
}

/*********************************************************************************/
/* Extra                                                                         */
/*********************************************************************************/

#extra {
  padding: 4em 0em 3em 0em;
}

/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/

#featured {
  padding: 4em 0em 3em 0em;
}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

#footer {
  padding: 4em 0em 3em 0em;
}

/*********************************************************************************/
/* about                                                                         */
/*********************************************************************************/

#about {
  padding: 1em 0em 4em 0em;
}

#about .left {
  text-align: center;
}

#about .right {
  text-align: center;
}

/*********************************************************************************/
/* mobile-menu                                                                   */
/*********************************************************************************/

#mobile-menu{
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom right, #333 0%, #444 100%); 
  z-index: 1000;
  animation: fadeIn 0.3s ease 0s 1 normal;
}
@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}
#mobile-menu ul{
  margin-top: 6em;
  text-align: center;
}
#mobile-menu ul li{
  padding: 10px 0;
  margin-bottom: 20px;
  font-size: 24px;
}
#mobile-menu ul li a {
  color: #f2f2f2;
}